.icon:before{
    width:12px;
    content:'M';
    height:12px;
    border-radius:6px;
    position:absolute;
    background-color:#008B00;
    opacity:.4;
    font-size:10px;
    line-height:12px;
    text-align:center;
    color:#fff;
}
.icon-bad:before{
    background-color:#FF3030;
}
.icon-alter:before{
    background-color:#BC8F8F;
}
.tle{
    padding-right:5px;
}
.tab{
    background:#eee;
    cursor: move;
    margin:0;
    padding:0;
}
.main{
    position:fixed;
    right:20px;
    top:20px;
    width:550px;
    height:470px;
    z-index:2147483647;
    box-shadow:0 0 5px #b9b9b9;
    background-color:#fff;
    font-size:12px;
    line-height:1.5;
}
.mask{
    position:absolute;opacity:0.7;background-color:#90EE90;
}
.main ul{list-style:none;padding:0;}
.m5{margin-left:5px;}
.binfo{padding:5px;}
.fl{
    float:left
}
.fr{
    float:right
}
.cp{
    cursor:pointer;
}
.p8{
    padding:8px;
}
.move{
    cursor:move
}
.red{color:red}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.bar{
    height: 1px;
    border: 0;
    padding: 0;
    margin:5px;
    background: rgba(0,0,0,0.20);
    background: -webkit-gradient(linear, left top, right top, from(rgba(165, 69, 243, 0.0)), color-stop(0.5, rgba(125, 118, 132, 0.33)), to(rgba(165, 69, 243, 0.0)));
}
#mx_moreinfo,#mx_manager_moreinfo{
    position:absolute;
    background-color:#eee;
    padding:8px;
    width:440px;
    display:none;
    box-shadow:0 2px 2px 2px #b9b9b9;
    word-break: break-all;
}
.shrink:before{
    content: ' ';
    position: absolute;
    left: 4px;
    top: 10px;
    bottom: 5px;
    border: dotted 2px #b9b1b1;
    height: 10px;
    cursor: move;
}
.shrink:after{
    content: ' ';
    position: absolute;
    left: 9px;
    top: 10px;
    height: 10px;
    border: dotted 2px #b9b1b1;
    cursor: move;
}